body{
    margin: 0;
    background-color: #F3F3EB;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:#127369;
    height: 6rem;
}

.titulo img{
    height: 70%;
    margin-left: 0.6rem;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.2rem;
}

.titulo:hover{
    background-color: #10403B;
}

nav h1 a{
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: white;
    text-decoration: none;
}

td{
    border-bottom: solid 0.2rem #127369;
}

#a{
    text-decoration: none;
    margin: 1.2rem;
    font-size: 1.5rem;
    color: #BFBFBF;
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prod:hover, .ubi:hover, .ini:hover, .contac:hover{
    border-bottom: solid 0.2rem white;
    transition: .6s ease all;
}

#a:hover{
    color: white;
    transition: .6s ease all;
}

.b{
    color: white;
    text-decoration: none;
    margin: 1.2rem;
    font-size: 1.5rem;
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ubi{
    border-bottom: solid 0.2rem white;
}

.b:hover{
    color: white;
}


/*  */


.menus{
    margin: 0 0 0 0;
}

.men1, .men2{
    display: flex;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0 0 0 0;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    color: #F2E7DC;
}

.men1{
    background-color: #011526;
}

.men2{
    background-color: #011526;
}

.textoo{
    margin: 1rem 3rem 3rem 3rem;
    width: 50%;
}

.textoo p{
    margin-top: 3rem;
}

.imgss{
    width: 50%;
    margin: 2rem;
}

.encargar{
    color: white;
    display: flex;
    background-color: #323050;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #4C5958;
    cursor: pointer;

}

.encargar a{
    text-decoration: none;
    text-align: center;
    margin: 0;
    display: flex;
    color: white;

}

.encargar h3{
    font-size: 1.3rem;
}

.encargar h1, .encargar h3{
    margin: 1rem;
}

.encargar:hover{
    border: 0.2rem solid white;
    background-color: #A68F97;
    transition: .4s ease all;
}

.textoo .tex{
    border-bottom: solid 0.1rem #A68F97;
    padding-bottom: 1.5rem;
}

.imgss img{
    border: solid 0.2rem #A68F97;
    width: 90%;
}

li{
    line-height: 1.6rem;
    font-size: 1.3rem;
}

.flexx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio{
    margin-left: 1.5rem;
    background-color: #323050;
    padding: 0.5rem;
    border: solid 0.2rem #A68F97;
}


/*  */


*{
    box-sizing: border-box;
}

.rellene{
    grid-column: span 2;
    font-size: 1.3rem;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    padding: 40px;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
}
.formulario_inactivo{
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    padding: 40px;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
}

.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario_grupo_input{
    position: relative;
}

.formulario_input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 45px 0 10px;
    transition: .3s ease all;
}

.formulario_input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_input_error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario_input_error_activo{
    display: block;
}

.formulario_validacion_estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario_mensaje,
.formulario_grupo_btn_enviar,
.formulario_mensaje_exito{
    grid-column: span 2;
}

.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    margin: 13px;
    display: none;
}

.formulario_mensaje_activo{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    margin: 13px;
    display: block;
}

.formulario_mensaje p{
    margin: 0;
}

.formulario_grupo_btn_enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.formulario_btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario_btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    transition: .1s ease all;
}

.formulario_mensaje_exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario_mensaje_exito_activo{
    display: block;
}


/* validacion */

.formulario_grupo_correcto .formulario_validacion_estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario_grupo_incorrecto .formulario_label{
    color: #bb2929;
}

.formulario_grupo_incorrecto .formulario_validacion_estado{
    color: #bb2929;
    opacity: 1;
}

.formulario_grupo_incorrecto .formulario_input{
    border: 3px solid #bb2929;
}


.rellene,
.formulario_mensaje,
.formulario_grupo_btn_enviar,
.formulario_mensaje_exito{
    grid-column: span 2;
    }


/*  */


#formu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

#tit{
    text-align: center;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline solid black 0.2rem;
}

#tabla{
    width: 80%;
    border-spacing: 2rem;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    border-radius: 3px;
}

td, tbody{
    border: none;
}

th{
    padding: 0.3rem;
    border-bottom: solid 0.2rem #127369;
    padding-bottom: 0.8rem;
}

.col input{
    height: 30px;
    border-radius: 3px;
    width: fit-content;
    border: #827E7F solid 3px;
}

.col input:hover{
    border: solid 3px #0075ff;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

#precio1, #precio2, #precio3, #precio4, #precio5, #precio6, #precio7, #precio8, #precio9 {
    background-color:#F2F2F2;
    border-radius: 4px;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.1);
}

.col{
    text-align: center;
    border-bottom: none;
}

#formulario2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
    margin-bottom: 3rem;
}

.totaltex{
    text-align: end;
}

#total{
    background-color: #57F28A;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
}

#boton2{
    margin-bottom: 4rem;
}

#formulario_mensaje_exito2{
    text-align: center;
}


/*  */


.footer{
    height: 14rem;
    background-color: #127369;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h1, .footer a{
    color: white;
    font-size: 0.7rem;
    margin: 3rem;
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}

.footer div{
    display: inline;
}

.logos{
    margin: 0.4rem;
    border-radius: 100%;
    background-color: #10403B;
    padding: 0.9rem;
}

.logos:hover{
    background-color: #8AA6A3;
}



@media screen and (max-width: 1023px){
    
    .titulo img{
        height: 50%;
        width: 20%;
        margin-left: 0.2rem;
}

    .sebe{
        font-size: 1.3rem;
    }


    .titulo{
        margin-right: 0;
    }

    .b{
        font-size: 1rem;
        margin: 0.4rem;
        padding: 0.2rem;

    }

    #a{
        font-size: 1rem;
        margin: 0.4rem;
        padding: 0.2rem;
    }

    /*  */
    
    
.menus{
    margin: 0 0 0 0;
}

.men1, .men2{
    display: inline-block;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0 0 0 0;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    color: #F2E7DC;
}

.men1{
    background-color: #011526;
    width: 100%;
}

.men2{
    background-color: #011526;
    width: 100%;
}

.textoo{
    margin: 0;
    width: 100%;
}

.textoo p, .textoo h1{
    margin: 2rem;
}

.imgss{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.imgss img{
    width: 70%;
}

.encargar{
    color: white;
    display: flex;
    background-color: #323050;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #4C5958;
    cursor: pointer;
    width: 80%;
    margin-bottom: 2rem;
    margin-right: 4rem;
}

.encargar a{
    text-decoration: none;
    text-align: center;
    margin: 0;
    display: flex;
    color: white;

}

.encargar h3{
    font-size: 1.3rem;
}

.encargar h1, .encargar h3{
    margin: 1rem;
}

.encargar:hover{
    border: 0.2rem solid white;
    background-color: #A68F97;
    transition: .4s ease all;
}

.textoo .tex{
    border-bottom: solid 0.1rem #A68F97;
    padding-bottom: 1.5rem;
}

.imgss img{
    border: solid 0.2rem #A68F97;
}

li{
    line-height: 1.6rem;
    font-size: 1.3rem;
}

.flexx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    margin-bottom: 1rem;
}

.precio{
    margin-left: 4rem;
    background-color: #323050;
    padding: 0.5rem;
    border: solid 0.2rem #A68F97;
}

    /*  */

    .formulario, .formulario2{
        grid-template-columns: 1fr;
        width: 90%;
    }

    .formulario_mensaje,
    .formulario_grupo_btn_enviar,
    .formulario_mensaje_exito,
    .rellene{
    grid-column: 1;
}


#formulario2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem;
    margin-bottom: 3rem;
}

.formulario_grupo{
    width: 100%;
}

    /*  */


    #prods{
        width: 100%;
        
    }

    #formu{
        margin: 0;
        display: block;
        width: 100%;
    }

    #formu table{
        width: 100%;
        margin-bottom: 2rem;
    }

    /*  */
    .footer{
        height: 20rem;
        background-color: #127369;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin: 0;
    }

    .footer h1, .footer a{
        color: white;
        font-size: 1rem;
        margin: 0;
        font-family: "KoHo", sans-serif;
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        
    }

    .footer a{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .footer h1{
        width: 30%;
        height: 100%;
        text-align: center;
        display: block;
    }

    .footer i{
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-align: center;
    }

    .logos{
        margin: 0;
        background-color: #10403B;
        padding: 0;
        border-radius: 0;
        border: solid white 0.1rem;
    }

    .footer div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
        width: 100%;
        height: fit-content;
    }

}




@media screen and (max-width: 591px){
    
    .titulo img{
        height: 50%;
        width: 40px;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
}

nav{
    height: 5rem;
}

    .sebe{
        font-size: 0.9rem;
        margin: 0;
    }


    .titulo{
        margin-right: 0;
    }

    .b{
        font-size: 0.6rem;
        margin: 0.1rem;
        padding: 0.2rem;

    }

    #a{
        font-size: 0.6rem;
        margin: 0.1rem;
        padding: 0.2rem;
    }

    /*  */
    
    
.menus{
    margin: 0 0 0 0;
}

.men1, .men2{
    display: inline-block;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0 0 0 0;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    color: #F2E7DC;
}

.men1{
    background-color: #011526;
    width: 100%;
}

.men2{
    background-color: #011526;
    width: 100%;
}

.textoo{
    margin: 0;
    width: 100%;
}

.textoo p, .textoo h1{
    margin: 2rem;
}

.imgss{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.imgss img{
    width: 70%;
}

.encargar{
    color: white;
    display: flex;
    background-color: #323050;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #4C5958;
    cursor: pointer;
    width: 80%;
    margin-bottom: 0;
    margin-right: 0;
}

.encargar a{
    text-decoration: none;
    text-align: center;
    margin: 0;
    display: flex;
    color: white;
    font-size: smaller;

}

.encargar h3{
    font-size: 1.3rem;
    font-size: medium;
}

.encargar h1, .encargar h3{
    margin: 0.5rem;
}

.encargar:hover{
    border: 0.2rem solid white;
    background-color: #A68F97;
    transition: .4s ease all;
}

.textoo .tex{
    border-bottom: solid 0.1rem #A68F97;
    padding-bottom: 1.5rem;
}

.imgss img{
    border: solid 0.2rem #A68F97;
}

li{
    line-height: 1.6rem;
    font-size: 1.3rem;
}

.flexx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    margin-bottom: 1rem;
}

.precio{
    margin-left: 4rem;
    background-color: #323050;
    padding: 0.5rem;
    border: solid 0.2rem #A68F97;
}

    /*  */

    .formulario, .formulario2{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .formulario_mensaje,
    .formulario_grupo_btn_enviar,
    .formulario_mensaje_exito,
    .rellene{
    grid-column: 1;
}


#formulario2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.formulario_grupo{
    width: 100%;
    margin: 0;
}

    /*  */


 
#tabla{
    width: fit-content;
    border-spacing: 0.3rem;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    border-radius: 3px;
    font-size: smaller;
}

th{
    padding: 0.1rem;
    border-bottom: solid 0.2rem #127369;
    padding-bottom: 0.8rem;
}

.col input{
    height: 30px;
    border-radius: 3px;
    width: 85%;
    border: #827E7F solid 2px;
}

.col input:hover{
    border: solid 3px #0075ff;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

#precio1, #precio2, #precio3, #precio4, #precio5, #precio6, #precio7, #precio8, #precio9 {
    background-color:#F2F2F2;
    border-radius: 4px;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.1);
}

.col{
    text-align: center;
    border-bottom: none;
}

tr, th{
    width: fit-content;
}

#total{
    background-color: #57F28A;
    width: 100%;
}

    /*  */
    .footer{
        height: 20rem;
        background-color: #127369;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin: 0;
    }

    .footer h1, .footer a{
        color: white;
        font-size: 0.6rem;
        margin: 0;
        font-family: "KoHo", sans-serif;
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        
    }

    .footer a{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .footer h1{
        width: 30%;
        height: 100%;
        text-align: center;
        display: block;
    }

    .footer i{
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-align: center;
    }

    .logos{
        margin: 0;
        background-color: #10403B;
        padding: 0;
        border-radius: 0;
        border: solid white 0.1rem;
    }

    .footer div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
        width: 100%;
        height: fit-content;
    }

    .log h1{
        width: fit-content;
    }

}