body{
    margin: 0;
    background-color: #F3F3EB;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:#127369;
    height: 6rem;
}

.sebe{
    animation: jackInTheBox;
    animation-duration: 1s;
    }

.titulo img{
    height: 70%;
    margin-left: 0.6rem;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.2rem;
}

.titulo:hover{
    background-color: #10403B;
    transition: .6s ease all;
}

nav h1 a{
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: white;
    text-decoration: none;
}

td{
    border-bottom: solid 0.2rem #127369;
    animation: backInDown;
    animation-duration: 1s;
}

#a{
    text-decoration: none;
    margin: 1.2rem;
    font-size: 1.5rem;
    color: #BFBFBF;
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.prod:hover, .ubi:hover, .ini:hover, .contac:hover{
    border-bottom: solid 0.2rem white;
    transition: .6s ease all;
}

#a:hover{
    color: white;
    transition: .6s ease all;
}

.b{
    color: white;
    text-decoration: none;
    margin: 1.2rem;
    font-size: 1.5rem;
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.prod{
    border-bottom: solid 0.2rem white;
}

.b:hover{
    color: white;
}

.FLEX{
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 30rem); 
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;

}

.grid-item{
    background-color: #BFBFBF;
    border: #10403B solid 0.1rem;
    border-radius: 1%;
}

.grid-item:hover{
    border: white solid 0.1rem;
    transition: .2s ease all;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.9);
}

.imgs{
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    justify-content: center;

}

.grid-item img{
    width: 95%;
    height: 16rem;
    text-align: center;
    border: #10403B solid 0.1rem;
    
}

.titulos{
    text-align: center;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 0.7rem;
    border-bottom: #127369 0.1rem solid;
}

.descrip{
    text-align: center;
    margin: 0 2rem 2rem 2rem;
    font-family: "Fenix", serif;
    font-weight: 400;
    font-style: normal;
}

.text{
    background-color: #F2E7DC;
    width: 95%;
    height: 95%;
    margin: 0.8rem;
}

.sep{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    background-color: #F2E7DC;
    height: 35%;
    padding: 0.5rem;
    border-radius: 1%;
}





.footer{
    height: 14rem;
    background-color: #127369;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h1, .footer a{
    color: white;
    font-size: 0.9rem;
    margin: 5rem;
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}

.footer div{
    display: inline;
}

.logos{
    margin: 0.4rem;
    border-radius: 100%;
    background-color: #10403B;
    padding: 0.9rem;
}

.log:hover{
    .logos{
        background-color: #8AA6A3;
        animation: fadeIn;
        animation-duration: 0.4s;
    }
    }




    
@media screen and (max-width: 1044px){

    .sebe{
        font-size: 1.6rem;
    }

    .b{
        font-size: 1.3rem;
        margin: 0.4rem;
        padding: 0.2rem;

    }

    #a{
        font-size: 1.3rem;
        margin: 0.4rem;
        padding: 0.2rem;
    }

    /*  */


    .grid-container{
        grid-template-columns: 1fr 1fr;
    }

/*  */
    .footer{
        height: 20rem;
        background-color: #127369;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .footer h1, .footer a{
        color: white;
        font-size: 1rem;
        margin: 0;
        font-family: "KoHo", sans-serif;
        font-weight: 200;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        
    }

    .footer a{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .footer h1{
        width: 30%;
        height: 100%;
        text-align: center;
        display: block;
    }

    .footer i{
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-align: center;
    }

    .logos{
        margin: 0;
        background-color: #10403B;
        padding: 0;
        border-radius: 0;
        border: solid white 0.1rem;
    }

    .footer div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
        width: 100%;
        height: fit-content;
    }

}

@media screen and (max-width: 591px){
    
    .titulo img{
        height: 50%;
        width: 40px;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
}

nav{
    height: 5rem;
}

    .sebe{
        font-size: 0.9rem;
        margin: 0;
    }


    .titulo{
        margin-right: 0;
    }

    .b{
        font-size: 0.6rem;
        margin: 0.1rem;
        padding: 0.2rem;

    }

    #a{
        font-size: 0.6rem;
        margin: 0.1rem;
        padding: 0.2rem;
    }

    /*  */

    .grid-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        height: fit-content;
        margin: 0.5rem;
        grid-template-rows: repeat(9, auto); 
    }

    .grid-item{
        height: fit-content;
    }
    .grid-item p{
        font-size: smaller;
    }

    .descrip{
        margin-bottom: 0;
    }
    /*  */


    .footer h1, .footer a{
        font-size: 0.5rem;
    }

    .footer h1{
        width: 50%;
    }

}